<div style="overflow-y: scroll;">
    <h3 class="module-title">
        {{ localize message }}
    </h3>
    <hr>
    <ul class="player-list">
        {{#each players}}
            <li class="player-item">
                <a
                    class="select-player display-image-name"
                    data-player-id="{{ this.id }}"
                    data-action="select"
                >
                    <img
                        src="{{this.img}}"
                        alt="{{ this.name }}"
                        style="max-height: 3rem;"
                    />
                    <span>{{ this.name }}</span>
                </a>
            </li>
        {{/each}}
    </ul>
</div>
